/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.canvas-minimap {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px !important;
    height: 300px !important;
    border: 1px solid #ccc;
    pointer-events: none;
    z-index: 1000;
}
