/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.workspace-tabs {
    position: absolute;
    width: 500px !important;
    height: 500px !important;
    z-index: 1;
}

.mod-root {
    overflow: scroll;
}

.spatial-graph-overlay {
    z-index: 0;
}